<!-- routerLink="/" routerLinkActive="active" -->
<section
  class="page"
  fxLayout="row wrap "
  fxLayoutAlign="space-around"
  (scroll)="fetchMoreData(nextUrl, $event)"
  [@listAnimation]="loading"
>
  <a
    [routerLink]="['/detail', pokemon?.id]"
    *ngFor="let pokemon of pokemonList"
  >
    <div class="card" fxLayout="column" fxFlexOffset="24px">
      <div fxFlex fxLayoutAlign="center center">
        <h1 style="text-align: center">Pokemon Name: {{ pokemon?.name }}</h1>
      </div>
      <div fxFlex="40px">
        <button>View</button>
      </div>
    </div>
  </a>
</section>

<div class="loader" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
